<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head>
 <title>Home</title>
 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
 <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
</head>
<body>

		
		<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link"  th:href="@{/home/home}">Welcome</a></li>
				<li class="nav-item"><a class="nav-link"
					th:href="@{/emp/list}">Employee List</a></li>
				<li class="nav-item"><a class="nav-link"
					th:href="@{/admin/leavelist}">Leave List</a></li>
				<li class="nav-item"><a class="nav-link"
					th:href="@{/admin/add}">Add Leave</a></li>
					<!-- <li class="nav-item"><a class="nav-link"
					th:href="@{/leave/history}">Staff Home</a></li>
				<li class="nav-item"><a class="nav-link"
					th:href="@{/pendingLeavelist}">Manager Home</a></li> -->
					<li class="nav-item"><a class="nav-link"
					th:href="@{/home/calendar}">Calendar</a></li>
					<li class="nav-item"><a class="nav-link"
					th:href="@{/logout}">Logout</a></li>

			</ul>
		</nav>
 <div class="container">
  <h2>Hi <span th:utext="${userName}"></span>, this is the home page for admin.<br></h2>
  <!-- <a th:href="@{/logout}">Sign out</a> -->
 </div>
</body>
</html>