<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="master" lang="en">
<head>
<meta charset="UTF-8">


<!-- Bootstrap and Jquery for multi-tab -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>


<!-- Icon -->
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
	integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
	crossorigin="anonymous">



<title th:utext="#{leave.page.title}">title</title>
</head>
<body>

		
		
		<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
			<ul class="navbar-nav">
				<li class="nav-item">
				 <a class="nav-link"  th:href="@{/leave/}">
				Welcome</a></li>
				<li class="nav-item">
				<a class="nav-link" th:href="@{/leave/history}">Leave History</a>
				</li>
				<li class="nav-item">
				<a class="nav-link"th:href="@{/leave/apply}">Apply Leave</a>
				</li>
				<li class="nav-item">
				<a class="nav-link"th:href="@{/leave/addovertime}">Apply For Overtime</a>
				</li>
				<li class="nav-item">
				<a class="nav-link" th:href="@{/leave/overtimehistory}">Overtime History</a>
				</li>
				<li class="nav-item"><a class="nav-link"
					th:href="@{/home/calendar}">Calendar</a></li>
				<li class="nav-item">
				<a class="nav-link" th:href="@{/logout}">Logout</a>
				</li>

			</ul>
		</nav>
		
		

		<h1 th:utext="#{leave.page.title}">Product Form</h1>
	<!-- Add Hyperlink -->
	<a href="leaveform.html" th:href="@{/leave/apply}"
		th:utext="#{leave.page.add}">label</a>
  
	<h2 th:utext="#{leave.page.header}" th:if="${not #lists.isEmpty(leaves)}">header</h2>
	<!-- <table class="w3-container" th:if="${not #lists.isEmpty(leaves)}">
	
		<tr th:each="leave:${leaves}">
			<td th:text="${#dates.format(leave.leaveStartDate, 'dd-MM-yyyy')}" >LeaveStartDate</td>
			<td th:text=${leave.description}>Description</td>
			<td th:text=${leave.comment}>Comment</td>
			<td th:text="${#dates.format(leave.leaveEndDate, 'dd-MM-yyyy')}" >LeaveEndDate</td>
			<td th:text=${leave.leaveStatus}>Status</td>
			<td><a href="Updateleave.html"
				th:href="@{/leave/update/}+${leave.id}" th:utext="#{leave.page.update}">  </a></td>
			<td><a href="CancelLeave.html"
				th:href="@{/leave/cancel/}+${leave.id}" th:utext="#{leave.page.cancel}">  </a></td>
		</tr>
	</table> -->

        
		  <div class="card"></div>
		  
		   <div class="card-block">
		    <table class="table table-hover">
		    
		      <thead>
		        <tr>
		        
		         <th>Leave Start Date</th>
		         <th>Description</th>
		         <th>Comment</th>
		         <th>Duration</th>
		         <th>Leave Type</th>
		         <th>Leave End Date</th>
		         <th>Status</th>
		         
		         
		        
		        </tr>
		      
		      </thead>
		      <tbody>
		      
		      
		      
		         <tr th:each="leave:${leaves}">
			<td th:text="${#dates.format(leave.leaveStartDate, 'dd-MM-yyyy')}" >LeaveStartDate</td>
			<td th:text=${leave.description}>Description</td>
			<td th:text=${leave.comment}>Comment</td>
			<td th:text=${leave.duration}>Duration</td>
			<td th:text=${leave.leaveType.leaveTypeName}>Leave Type</td>
			<td th:text="${#dates.format(leave.leaveEndDate, 'dd-MM-yyyy')}" >LeaveEndDate</td>
			<td th:text=${leave.leaveStatus}>Status</td>
			<td><a href="Updateleave.html"
				th:href="@{/leave/update/}+${leave.id}" th:utext="#{leave.page.update}">  </a></td>
			<td><a href="CancelLeave.html"
				th:href="@{/leave/cancel/}+${leave.id}" th:utext="#{leave.page.cancel}">  </a></td>
		       </tr>
		             
		      </tbody>
		    
		    </table>
		   
		   </div>
		 
	
</body>
</html>